<form class="form"
>
    <div class="field-container">
        <input class="form__input" placeholder="Name*" formControlName="name">  
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="Last Name" formControlName="lName">
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="NIF*" formControlName="nif">   
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="Phone Number" formControlName="nTlf"> 
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="Email*" formControlName="email">
    </div>
      <div class="field-container">
        <textarea class="form__input" placeholder="Description" type="text" formControlName="description"></textarea>
    </div>
    <button
        class="form__button"
        type="submit"
    >Signup</button>
</form>
